@import "_config";

/* local */
.u-Masthead__head { margin-bottom: .2em; }
.u-lHeader { background-image: url(../images/adm-site-banner.jpg); }
.Row ol, .Row ul {
    margin-bottom: 2em;
}
.Row li
{
	font-size: 1em;
	line-height: 1.45;
}

.u-lMain h1.u-pageTitle
{
	font-size: 2.7em !important;
	margin-bottom: 0;
}
.u-lMain h3
{
	margin-top: 1em;
}  

.u-pageTitle
{
	font-size: 2em !important;
	margin-bottom: 0;
}

.u-lMain h3
{
	margin-bottom: .5em;
	margin-top: .5em;
	font-size: 1.5em;
}
.u-BioList--contacts li{
	display:block;
	margin:0 1em .5em 0;
	padding-left: 0;
	font-size: .9em;
}
.u-BioList--contacts ul{
	margin-top:1em
}
@media screen and (min-width: 37.5em){
	.u-BioList--contacts ul{
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2
	}
	.u-BioList--contacts li{
		-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		break-inside:avoid-column
	}
}
@media all and (min-width: 50em){
	.u-BioList__list ul{
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2
	}
}
.Row [id] {
    margin-top: 0;
    padding-top: 0 !important;
}